@using BioEngine.BRC.Site.ViewComponents
@model BioEngine.BRC.Common.Entities.Menu
@if (Model != null)
{
    <partial name="Menu" model="@(new MenuLevel {Items = Model.Items, Level = 0})"/>
}
else
{
    <div>MENU</div>
}
