@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.IframeBlock, BioEngine.BRC.Common.Entities.Blocks.IframeBlockData>

<div class="embed-container">
    @* ReSharper disable once Html.Obsolete *@
    <iframe frameborder="0"
            class="lazyload"
            allowfullscreen="allowfullscreen"
            width="100%"
            data-src="@Model.Block.Data.Src">
    </iframe>
</div>
