@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.PictureBlock, BioEngine.BRC.Common.Entities.Blocks.PictureBlockData>

@{
    var image = Model.Block.Data.Picture;
    var url = !string.IsNullOrEmpty(Model.Block.Data.Url) ? Model.Block.Data.Url : image.PublicUri.ToString();
    var imgUrl = image.PictureInfo?.LargeThumbnail?.PublicUri ?? image.PublicUri;
}
<div class="row">
    <div class="col-md-12 mb-3">
        <a href="@url" target="_blank">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@imgUrl" class="img-fluid z-depth-1 lazyload"
                 alt="@image.FileName"/>
        </a>
    </div>
</div>
