@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.TwitterBlock, BioEngine.Core.Entities.Blocks.TwitterBlockData>

<blockquote class="twitter-tweet">
    <div class="preloader">
        <a href="https://twitter.com/drmagnificent/status/1152057825398599687"><i class="fas fa-spinner fa-spin"></i> Загрузка твита</a>
    </div>
</blockquote>
