@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.TwitterBlock, BioEngine.Core.Entities.Blocks.TwitterBlockData>

<blockquote class="twitter-tweet">
    <div class="preloader">
        <a href="https://twitter.com/@Model.Block.Data.TweetAuthor/status/@Model.Block.Data.TweetId"><i class="fas fa-spinner fa-spin"></i> Загрузка твита</a>
    </div>
</blockquote>
